* { padding: 0; margin: 0; }
canvas { background: #eee; display: block; margin: 0 auto; }
.prettyButton { border-radius: 4px; font-size: 24px; padding: 10px 20px }
.prettyButton:hover { background-color: #eee }
.prettyButtonClicked { background-color: #996666 }
.prettyButtonClicked:hover { background-color: #eee }
.prettyButtonDefault { background-color: #ccc }
.prettyButtonDefault:hover { background-color: #eee }
.moveTheButton {position: relative }
.usingArrowKeysOnCanvas { cursor: none; }